.gameStats {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 48px;
  margin: 96px auto;
}

.teamLogo {
  width: 96px;
  height: auto;
  margin-bottom: 24px;
}

.statsWrapper,
.statCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-size: 1.375rem;
}

.statsWrapper {
  &:last-child {
    order: -1;
  }
}

.statCategories {
  order: 0;
  text-transform: uppercase;
  font-weight: 700;
}
