.navWrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: #e1e1e1;
  transition: 0.3s ease-in-out;
  z-index: 2;
  bottom: 0;

  @include s {
    padding: 24px 48px;
    top: 0;
    bottom: unset;
    justify-content: space-between;
  }
}

.navLogo {
  font-size: 2.5rem;
  font-weight: bold;
  display: none;

  @include s {
    display: block;
  }
}

.navList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
}

.navIcon {
  width: 16px;
  height: 16px;

  @include s {
    display: none;
  }
}
