.headline {
  font-size: 1.8rem;
  margin-block-end: 28px;

  @include m {
    font-size: 2rem;
    margin-block-end: 36px;
  }
}

.rankColumn {
  padding-inline: 12px;
  text-align: left;
  width: 64px;
  margin-inline-end: 16px;
}

.th {
  margin-right: 16px;
  text-align: left;
}

.logo {
  height: auto;
  width: 32px;

  @include s {
    width: 48px;
  }
}

.name {
  &:hover {
    text-decoration: underline;
    color: #46474a;
  }
}

.logoName {
  padding: 12px;
  padding-inline-end: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  height: inherit;
  width: 200px;

  @include s {
    width: 300px;
  }
}

.flexWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
  gap: 8px;
}

.up {
  color: red;
}

.down {
  color: blue;
}
