.stage {
  display: flex;
  justify-content: center;
  margin-block-start: 96px;
  padding: 64px;
  padding-block-start: 96px;
  flex-direction: column;
  background-color: #0f0f0f;
  color: #fff;

  .matchup {
    display: flex;
    align-items: center;
    gap: calc(100vw / 20);
    justify-content: center;
  }

  .logo {
    height: auto;
    width: calc(100vw / 5);

    @include s {
      width: calc(100vw / 6);
    }

    @include m {
      width: calc(100vw / 10);
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  .matchInfo {
    margin-top: 24px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  .match {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .score {
    width: max-content;
    font-size: calc(100vw / 20);
    font-weight: bold;
  }

  .date {
    font-size: calc(100vw / 20);
    inline-size: max-content;

    @include s {
      font-size: calc(100vw / 40);
    }
  }

  .teamLink {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .name {
    display: none;

    @include m {
      display: block;
      font-size: calc(100vw / 80);
    }
  }
}
