.stage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6d2d2;
  padding: 32px;

  @include m {
    padding: 64px;
  }
}

.teamLogo {
  height: 200px;
  width: fit-content;
  padding-bottom: 24px;
}

.teamInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 3px solid black;
  padding-top: 24px;
  gap: 8px;
}

.teamInfo {
  font-size: 1.125rem;
  strong {
    padding-right: 8px;
  }
}
