.quarterScoring {
  overflow-x: auto;
  margin: 64px;
  display: flex;
  justify-content: end;
}

.quarterTable {
  text-transform: uppercase;

}

.quarterTableRow {
  .quarterTableCell {
    &:first-child {
      font-weight: bold;
    }
  }
}

.quarterTableHead {
  padding-right: 24px;
}
