.mainStage {
  position: relative;
  display: flex;
  align-items: center;
}

.slideScore {
  position: absolute;
  bottom: 0;
  left: 0;
}

.headline {
  font-size: 48px;
}

.matchesHeadline {
  margin-bottom: 28px;
}

.matchesWrapper {
  width: fit-content;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  padding: 16px;
  background-color: black;
  border-radius: 6px;
  position: relative;
  display: flex;
  gap: 16px;
  flex-direction: column;

  @include s {
    padding: 48px;
    gap: 48px;
  }

  h1 {
    color: #fff;
  }

  h2 {
    color: #fff;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
