* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  padding-inline: 24px;
  margin-bottom: 32px;

  @include s {
    padding-inline: 48px;
  }

  @include m {
    margin-bottom: 64px;
  }
}

tbody tr {
  height: 80px;
}

tr:nth-child(even) {
  background-color: #f0f0f5;
  border-spacing: 0;
}
